@mixin animate {
  transition-property: background-color, color;
  transition-duration: 0.5s;
}

@mixin lightTheme {
  @include animate;
  background-color: map-get($lightTheme, background-color);
  color: map-get($lightTheme, color);
}

@mixin lightThemeAlt {
  @include animate;
  background-color: map-get($lightThemeAlt, background-color);
  color: map-get($lightThemeAlt, color);
}

@mixin darkTheme {
  @include animate;
  background-color: map-get($darkTheme, background-color);
  color: map-get($darkTheme, color);
}

@mixin darkThemeAlt {
  @include animate;
  background-color: map-get($darkThemeAlt, background-color);
  color: map-get($darkThemeAlt, color);
}
